.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Adjust the height as per your requirement */
}

.image-wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
