/*style={{ width: '18rem', border: "none" , backgroundColor: '#282c34'}}*/

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    border: none;
    background-color: #282c34;
    padding: 10px;
}

.item-img {
/*style={{ height: '400px', width: "auto", border: '3px solid #ffd500' }}*/
    height: 400px;
    width: auto;
    border: 3px solid #ffd500;
}